body{
	background: #330000;
	font-size: 13px;
	line-height: 21px;
	color: #EEEEEE;
	height: 100%;
}
#top-line{
	width: 100%;
	background: #993300;
	height: 5px;
	display: block;
}
.container{
	position: relative;
	width: 1170px;
	height: 110px;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	display: block;
}
#header{
	background: #8C7765;
	width: 100%;
	margin: 0 auto;
	min-height: 50px;
	position: relative;
}
h1#logo{
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
	line-height: 40px;
	font-weight: 700;
	display: block;
	width: 370px;
	background-color: rgb(0,0,0,0.3);
	float: left;
	margin-top: 3px;

}
#logo a img{
	max-width: none;
	width: auto;
	height: auto;
	margin-top: 5px;
}
#logo a {
	background-color: rgba(0, 0, 0, 0.298039);
	padding: 25px;
	display: block;
}
nav {
	float: right;
}
nav#main_menu ul li {
	float: left;
	list-style: none;
	margin: 5px;
	font-size: 28px;
	margin-top: 60px;
	color: #FFFFFF;
	position: relative;
}
a:hover {
	background: #FF704D;
}
.formsubmit1:hover{
	background-color: #
}
a:link{
	color: white;
}
a:visited{
	color: white;
}
a:active{
	color: white;
}
a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	display: block;
	border: 0;
	position: relative;
}
#slideshow{
	height: 205px;
}
.slider .slider1 .item{
	float: left;
	width: 100%;
	overflow: hidden;
}
.slider .prev .btn,.slider .next .btn{
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
	font-weight: 700;
	padding: 0 4px;
	line-height: 20px;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	opacity: 0;
}
.slider .prev .btn{
	right: -20px;
}
.slider .prev,.slider .next{
	position: absolute;
	top: 50%;
	margin-top: -25px;
	width: 100px;
	height: 50px;
	z-index: 10;
	background: url(image\controls.png) no-repeat center top;
	opacity: .5;
}
.slider .next{
	float: left;
}
.slider{
	margin-top: none !important;
}
.hidden {
	width: 100%;
}
#slideshow{
	width: 100%;
	height: 405px;
}
#slideshow1{
	width: 100%;
	height: 205px;
}
div#action {
	padding: 20px 0;
	margin-top: 1px;
	border-top: solid 2px;
	background-color: #402C1B;
	height: 30px;
}
.container1{
	width: 100%;
	height: 0;
	margin-top: -20px;
	display:  inline-block;
	margin-left: auto;
	margin-right: auto;
}
h4{
	font-size: 22px;
	margin-left: 100px;
}
div#content{
	background-color: #f5f5f5;
	color: #535353;
	font-family: "Times New Roman", Times, serif;
	display: block;
}
.1{
	font-size: 30px;
}
p{
	font-size: 12px;
}
.body1{
	width: 100%;
	height: 80px;
}
.body2{
	width: 1170px;
	margin-left: 100px;
	margin-right: 80px;
	display: inline-block;
}
.span1{
	width: 370px;
	float: left;
	margin-left: 20px;
}
span img{
	width: 100%;
}
.footer1{
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
.row{
	margin-left: -30px;
	margin-right: 30px;
}
#footer{
	height: 150px;
	background-color: #402C1B;
	color: white;
}
.footer1 {
	display: block;
}
#footer .menu{
	margin: 0;
	padding: 0;
	list-style: none;
}
#footer .menu li{
	float: left;
	width: 50%;
}
li{
	line-height: 20px;
	display: list-item;
	padding-left: 10px;
}
.2{
	font-size: 14px;
	color: #fff;
	text-shadow:none;
}
.formbody,.submit{
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	float: left;
}
#form .formhead{
	margin-bottom: 20px;
	margin-top: -10px;
	font-size: 14px;
}
.formsubmit1{
	color: #fff;
	background-color: #cd2122;
	border: 0;
	font-weight: 700;
	font-size: 16px;
	height: 30px;
	padding: 6px 15px 10px 15px !important;
	border-radius: 3px;
}
.input2{
	border: 0;
	font-weight: 700;
	font-size: 13px;
	height: 30px;
	padding: 0px 0px 0 0px !important;
	border-radius: 3px;
}
h1{
	font-size: 40px;
	font-family: "Times New Roman", Times, serif;
	margin-top: -50px;
}
.row1{
	border-bottom: solid;
}
.row2{
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
}
.rowus{
	margin-left: 0px;
}
p{
	font-size: 15px;
}
div#date{
	display: inline-block;
	background-color: #330000;
}
span#img1{
	float: left;
	height: 150px;
	width: 150px;
	margin-right: 20px;
	margin-bottom: 20px;
}
span#img2{
	float: right;
	height: 150px;
	width: 150px;
	margin-right: 20px;
	margin-bottom: 20px;
}
span#img3 .img3{
	float: left;
	height: 150px;
	width: 150px;
	margin-right: 20px;
	margin-bottom: 20px;
}
span#img4 {
	float: left;
	height: 150px;
	width: 150px;
	margin-right: 20px;
	margin-bottom: 20px;
}
div.page1{
	border-top: solid;
}
#input{
	width: 95%;
	border: 0;
	font-weight: 700;
	font-size: 13px;
	height: 30px;
	padding: 0px 0px 0 0px !important;
	border-radius: 3px;
}
span.firt-name{
	width: 50%;
	float: left;
}
span.last-name{
	width: 50%;
	float: right;
}
#input1 {
	width: 47%;
	border: 0;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 13px;
	height: 30px;
	padding: 0px 0px 0 0px !important;
	border-radius: 3px;
}
textarea#message{
	width: 100%;
	border: 0;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 13px;
	padding: 0px 0px 0 0px !important;
	border-radius: 3px;
}
.submit-form{
	margin-bottom: 20px;
}